modules = ["python-3.12"]
run = "python -m music_recommender.main"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "python -m music_recommender.main"]

[workflows]
runButton = "Run Web App"

[[workflows.workflow]]
name = "Run Web App"
author = 41463219
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
